<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <div class="wrapper container">
            <div class="viewer">
                <div class="centered">
                    <img src="../static/raw/image.svg"/>
                </div>
            </div>
            <div class="sidebar left bd-left">
                <a class="centered" href="">
                    <img class="icon" src="../static/raw/chevron.svg"/>
                </a>
                <div class="items">
                    <div class="margined text-gray" id="noitems">
                        <div class="card">
                            <div class="card-header">
                                <a href="" class="pill">Cabbages 24</a>
                            </div>
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia, leo in malesuada dignissim, urna sapien hendrerit nisi, vel varius nisl orci vitae mauris. Pellentesque posuere fermentum arcu, et aliquet ipsum tincidunt non. Aenean ut ipsum massa. Pellentesque laoreet mollis viverra. Maecenas ornare ante id molestie tempor. Pellentesque vehicula orci sit amet elit feugiat, ut consectetur elit iaculis. Vestibulum eu nisi quis magna pretium sagittis. Duis pellentesque, arcu et scelerisque condimentum, lacus odio placerat leo, at pulvinar risus tortor feugiat sapien. Suspendisse potenti.
                                <h6>NUTRITIONAL DATA</h6>
                                <div class="row full">
                                    <div class="col full headtext">PROTEIN</div>
                                    <div class="col full">16kcal</div>
                                </div>
                                <div class="row full">
                                    <div class="col full headtext">PROTEIN</div>
                                    <div class="col full">16kcal</div>
                                </div>
                                <a href="" class="btn">Google</a>
                                <a href="" class="btn">Google</a>
                                <a href="" class="btn">Google</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar right bd-right">
                <div class="centered text-gray" id="noitems">
                    Nothing to show
                </div>
            </div>
            <div class="bottombar">
                <div class="row margin-lg centered" id="loading">
                    <img src="../static/raw/loading.svg" />
                    Rendering boxes...
                </div>
                <div class="centered row">
                    <a href="" class="">Upload photo</a>
                    <a href="" class="">Use a camera</a>
                </div>
            </div>
        </div>
    </body>
</html>