<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <div class="wrapper container">
            <div class="viewer">
                <div class="centered">
                    <img src="../static/raw/image.svg" id="placeholder"/>
                    <canvas id="canvas" class="hide"/>
                </div>
            </div>
            <div class="sidebar left bd-left">
                <img class="icon centered" src="../static/raw/chevron.svg"onclick="onSidebarClick('left-sidebar');"/>
                <div class="items hide" id="left-sidebar">
                    <div class="margined text-gray gapped"  id="left-body">
                    </div>
                </div>
            </div>
            <div class="sidebar right bd-right">
                <img class="icon centered rotate" src="../static/raw/chevron.svg" onclick="onSidebarClick('right-sidebar');"/>
                <div class="items hide" id="right-sidebar">
                </div>
            </div>
            <div class="bottombar">
                <div class="row margin-lg centered hide" id="loading">
                    Please wait...
                </div>
                <div class="row margin-lg full centered">
                    <p class='headtext'>SETTINGS</p>
                    <img id='icon' class="small-icon centered" src="../static/raw/chevron.svg" onclick="onSettingsClick();"/>
                </div>
                <div id="settings" class="hide">
                    <div class="row margin-lg">
                    <div class="col full">
                        <div class="row full">
                            <input id="showLabel" type="checkbox" checked>
                            <label for="checkbox">Show Labels</label>
                        </div>
                    </div>
                    <div class="col full">
                        <div class="row full">
                            <div class="col full">
                                <p>Confidence</p>
                            </div>
                            <div class="col full">
                                <span id="confValue">70%</span>
                            </div>
                            <div class="col full">
                                <input id="confScroll" type="range" min="0" max="1" step="0.001" value="0.7">
                            </div>
                        </div>
                        <div class="row full">
                            <div class="col full">
                                <p>Width</p>
                            </div>
                            <div class="col full">
                                <span id="lineWidthValue">4px</span>
                            </div>
                            <div class="col full">
                                <input id="lineWidth" type="range" min="0.1" max="10" step="0.1" value="4">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-lg">
                    <div class="col full">
                        <div class="row full">
                            <div class="col full">
                                <label for="checkbox">Broccoli</label>
                            </div>
                            <div class="col full">
                                <input id="class0" type="checkbox" checked>
                            </div>
                            <div class="col full">
                                <input type='text' id="class0color" placeholder="red or hex code" value="red">
                            </div>
                        </div>
                        <div class="row full">
                            <div class="col full">
                                <label for="checkbox">Cabbage</label>
                            </div>
                            <div class="col full">
                                <input id="class1" type="checkbox" checked>
                            </div>
                            <div class="col full">
                                <input type='text' id="class1color" placeholder="red or hex code" value="red">
                            </div>
                        </div>
                        <div class="row full">
                            <div class="col full">
                                <label for="checkbox">Cauliflower</label>
                            </div>
                            <div class="col full">
                                <input id="class2" type="checkbox" checked>
                            </div>
                            <div class="col full">
                                <input type='text' id="class2color" placeholder="red or hex code" value="red">
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="centered row">
                    <input type="file" id="imageUpload" value="Select an image" accept="image/*">
                    <button id="submitBtn" class="custom-file-upload">Upload image</button>
                    <!--a href="" class="">Use a camera</a> Wag muna hanggat wala pa-->
                </div>
            </div>
        </div>
        <script src="../static/js/ui.js"></script>
        <script src="../static/js/upload.js"></script>
    </body>
</html>